<div class="container-fluid p-2 my-4 bg-white">
    <div class="row mb-4">
        <div class="col">
            <h1>Cat&aacute;logo de productos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <div class="card text-bg-dark">
                    <img src="assets/images/{{product.imagen}}" class="card-img" alt="...">
                </div>   
            </div>
            <div class="mt-2">
                <button type="button" class="btn btn-outline-dark" (click)="back()">Back</button>
            </div>
        </div>
        <div class="col">
            <ul class="list-unstyled">
                <li>Precio: {{product.precio | currency}}</li>
                <li>Unidades disponibles: {{product.unidades}}</li>
            </ul>
        </div>    
    </div>
</div>
